.container{
    display:flex;
    flex-direction: column;
    width: 200px;
    gap:1rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: azure;
    border-radius: .375rem;
    text-decoration: none;
    img{
        width: 100%;
        border-radius: .375rem;
    }
    h4{
        font-style: normal;
        
    }
    p{}
}