@import "../../../variables.scss";

.main {
    height: 100%;
    background-color: $background-lm;
    color: $text-lm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: background-color .2s ease-in, color .2s ease-in;

    .card {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 150px;
        gap: 2rem;
        justify-content:flex-start;
        align-items: center;
        padding: 2rem;
        background-color: $background-card;
        color: $text;
        border-radius: .375rem;
        text-decoration: none;
        
        img {
            min-width: 150px;
            width: 450px;
            border-radius: .375rem;
        }
        .info{

            p {
                font-size: 2rem;
                max-width: 100%;
            }
        }
    }
}

.darkModeMain {
    height: 100%;
    background-color: $background;
    color: $text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: background-color .2s ease-in, color .2s ease-in;

    .card {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 150px;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        background-color: $background-card;
        color: $text;
        border-radius: .375rem;
        text-decoration: none;

        img {
            min-width: 150px;
            width: 450px;
            border-radius: .375rem;
        }

        .info {

            p {
                font-size: 2rem;
                max-width: 100%;
            }
        }
    }
}