@import "../../../variables.scss";

.main {
    background-color: $background-lm;
    color: $text-lm;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }

    .article {
        display: flex;
        height: 60vh;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        overflow: auto;
    }
    .containerPortal{
        height: 90vh;
    }
}

.darkModeMain {
    background-color: $background;
    color: $text;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }

    .article {
        display: flex;
        height: 60vh;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        overflow: auto;
    }

    .containerPortal {
        height: 90vh;
    }

}