@import "../../../variables.scss";

.main {
    height: 100%;
    background-color: $background-lm;
    color: $text-lm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem ;
    transition: background-color .2s ease-in, color .2s ease-in;

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 150px;
        justify-content: space-around;
        align-items: flex-start;
        padding: 1rem 2rem;
        background-color: $background-card;
        color: $text;
        border-radius: .375rem;
        text-decoration: none;
        
        .description {
            font-size: 1.5rem;
            max-width: 100%;
        }

        h2 {
            margin: 1rem 0;
            font-size: 1rem;
        }

        .carrousel{
            width: 100%;
            height: 450px;
            overflow-x: auto;
            display: flex;
            gap:2rem;
            padding: 1rem 2rem;
            border-radius: .375rem;
            background-color: $background-carrousel-lm;
            transition: background-color .2s ease-in;
        }
    }
}

.darkModeMain {
    height: 100%;
    background-color: $background;
    color: $text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: background-color .2s ease-in, color .2s ease-in;

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 150px;
        justify-content: space-around;
        align-items: flex-start;
        padding: 1rem 2rem;
        background-color: $background-card;
        color: $text;
        border-radius: .375rem;
        text-decoration: none;

        .description {
            font-size: 1.5rem;
            max-width: 100%;
        }

        h2 {
            margin: 1rem 0;
            font-size: 1rem;
        }

        .carrousel {
            width: 100%;
            height: 450px;
            overflow-x: auto;
            display: flex;
            gap: 2rem;
            padding: 1rem 2rem;
            border-radius: .375rem;
            background-color: $background-carrousel;
            transition: background-color .2s ease-in;
        }
    }
}