@import "../../../variables.scss";

.main {
    background-color: $background-lm;
    color: $text-lm;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }

    .article {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }

}

.darkModeMain {
    background-color: $background;
    color: $text;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }

    .article {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }
}