@import "../../../variables.scss";

.main {
    width: 100%;
    height: 100%;
    background-color: $background-lm;
    color: $text-lm;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }

    h2 {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    form {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 2rem;

        input {
            padding: 1rem;
            width: 60%;
            border-radius: .375rem;
            border: none;
        }
    }

    .article {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
        gap: .5rem;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2rem;
        background-color: rgb(39, 39, 39);
        color: aliceblue;
        border-radius: .375rem;
        text-decoration: none;

        img {
            width: 100%;
            border-radius: .375rem;
        }

        h4 {
            font-size: 1rem;
            max-width: 100%;
        }

        p {
            font-size: .8rem;
            max-width: 100%;
        }
    }

    .carrousel {
        width: 100%;
        height: 450px;
        overflow-x: auto;
        display: flex;
        gap: 2rem;
        padding: 2rem;
        border-radius: .375rem;
        background-color: $background-carrousel-lm;
    }
}

.darkModeMain {
    width: 100%;
    min-height: 100%;
    background-color: $background;
    color: $text;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
    }

    h2 {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    form {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 2rem;

        input {
            padding: 1rem;
            width: 60%;
            border-radius: .375rem;
            border: none;
        }
    }

    .article {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
        gap: .5rem;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2rem;
        background-color: rgb(39, 39, 39);
        color: aliceblue;
        border-radius: .375rem;
        text-decoration: none;

        img {
            width: 100%;
            border-radius: .375rem;
        }

        h4 {
            font-size: 1rem;
            max-width: 100%;
        }

        p {
            font-size: .8rem;
            max-width: 100%;
        }
    }

    .carrousel {
        width: 100%;
        overflow-x: auto;
        display: flex;
        gap: 2rem;
        padding: 2rem;
        border-radius: .375rem;
        background-color: $background-carrousel;
    }
}