// backgrounds
$background: #080808;
$background-lm: #e8e8e8;
$background-card: #585858;
$background-carrousel: #181818;
$background-carrousel-lm: #b1b1b1;
$bg-nav: #181818;
$bg-nav-lm: #d7d7d7;
$bg-nav-link-hover: #141414;
$bg-nav-link-hover-lm: #ebebeb;
$bg-search: #363636;
$border-search: #b5b5b5;
$border-button: #101010;

// colors
$text: #dedede;
$text-lm: #242424;
$title: #FFFFFF;
$subtitle: #B3B3B3;
$button-color: #FFFFFF;
$text-input: #FFFFFF;
$logo-lm:#0a0a0a;
$logo:#dedede;
$higlight-green:#00ff00;
$higlight-red:#ff2626;

//buttons
$bg-button: #2e2e2e;
$bg-button-lm: #959595;
$bg-button-green: #006400;
$bg-button-green-active: #00c300;
$bg-button-red: #860000;
$bg-button-red-active: #e40000;
$bg-button-hover: #3c3b3b;
$bg-button-play: #FFFFFF;
$bg-button-play-hover: #dcdcdc;
$bg-button-play-active: #949494;
$bg-button-media-hover: #1b1b1b;
$bg-button-fav: #FFFFFF;
$bg-button-fav-hover: #1b1b1b;
$bg-button-fav-active: #2e2e2e;

// fonts
@font-face {
    font-family: 'LexendPeta';
    src: url('/fonts/static/LexendPeta-Medium.ttf');
}